#frmLogin

  {
            height:488px;
            width:500px;
            background-color: white;
            margin-left:550px;
            margin-top:200px;
}
.logo
{
    opacity:0.5;
    text-align: center;
}           
.con
  {
    height: 344px;
    width: 499px;
}     

            
            
            
      
