 #frmRegistration
        {
            height:860px;
            width:782px;
            background-color: white;
            margin-left:auto;
            margin-right:auto;
            
            
            
        }
        .container
        {
            height: 584px;    width: 770px;
}
        
  body
  {
      
   background-color:#92dfdd;
            
  }
